
PORT=8000
MONGO_URI=
JWT_SECRET=
JWT_EXPIRE=
JWT_EXPIRES_TIME=

// mailtrap credentials
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_FROM=

// cloudinary credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

// stripe credentials
STRIPE_API_KEY= 
STRIPE_SECRET_KEY=